@use "../global/variables" as *;

.advantages {
  text-align: center;
}

.advantages__header {
  position: relative;
  text-align: center;
  padding: 33px 0 39px 0;

  &::after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    bottom: -13px;
    left: -0.5%;
    height: 27px;
    width: 101%;
    clip-path: polygon(50% 100%, 0 50%, 100% 50%);
  }

  @media (min-width: $tablet-width) {
    br {
      display: none;
    }
    padding: 48px 124px 56px 124px;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    br {
      display: none;
    }
    padding: 60px 357px 45px 353px;
  }
}

.advantages__title {
  display: block;
  margin: 0 auto;
  margin-bottom: 36px;
  max-width: 260px;

  @media (min-width: $tablet-width) {
    max-width: 440px;
    margin-bottom: 29px;
  }
}

.advantages__text {
  max-width: 260px;
  text-align: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 520px;
  }
}


.advantages__item--theme--dark {
  background-color: $background-secondary;
  color: $color-secondary;
}

.advantages__item-title {
  color: inherit;
  order: -1;
  max-width: 220px;
  margin: 0 auto;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    max-width: 150px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.advantages__item-text {
  color: inherit;
  max-width: 290px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 190px;
  }

  @media (min-width: $desktop-width) {
    max-width: 270px;
  }

  .advantages__item-text--break-devil {
    @media (max-width: $tablet-width-only) {
      display: none;
    }
  }

  .advantages__item-text--break-road {
    @media (max-width: $mobile-width-only) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.advantages__item-text--special-width-s {
  max-width: 210px;

  @media (min-width: $tablet-width) {
    max-width: 160px;
  }

  @media (min-width: $desktop-width) {
    max-width: 260px;
  }
}

.advantages__item-text--special-width-m {
  max-width: 240px;

  @media (min-width: $tablet-width) {
    max-width: 180px;
  }

  @media (min-width: $desktop-width) {
    max-width: 300px;
  }
}


.advantages__item-text--special-width-l {
  max-width: 250px;

  @media (min-width: $tablet-width) {
    max-width: 190px;
  }

  @media (min-width: $desktop-width) {
    max-width: 270px;
  }
}

.advantages__item--theme--light {
  background-color: #eeeeee;
}

.advantages__list,
.advantages__item--wide,
.advantages__item--theme--light,
.advantages__sublist {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 3;
  }
}

.advantages__list {
  counter-reset: order;
}


.advantages__item--order {
  display: flex;
  flex-direction: column;
  counter-increment: order;
}

.advantages__item--order .advantages__item-title::after {
  display: block;
  content: "— №" counter(order) " —";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-top: 11px;

  @media (min-width: $tablet-width) {
    margin-top: 12px;
  }
}

.advantages__info {
  padding: 37px 18px;

  &--space-city,
  &--space-devil {
    padding: 48px 18px 39px 18px;
  }

  &--space-places,
  &--space-road,
  &--space-tourists {
    padding: 24px 18px 24px 18px;
  }

  @media (min-width: $tablet-width) {
    padding: 42px 33px 41px 33px;

    &--space-city,
    &--space-devil {
      padding: 53px 18px 31px 18px;
    }

    &--space-places,
    &--space-road,
    &--space-tourists {
      padding: 42px 18px 42px 18px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 52px 50px 52px 50px;

    &--space-city,
    &--space-devil {
      padding: 53px 23px 52px 21px;
    }

    &--space-places,
    &--space-road,
    &--space-tourists {
      padding: 53px 18px 53px 18px;
    }
  }
}

.advantages__info--line:not(:last-child) {
  border-bottom: 1px solid #d6d6d6;
  margin: 0 18px;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    margin: 0;
  }
}

.advantages__item--wide:nth-child(2n) .advantages__item--image {
  order: -1;
}

.advantages__item--image {
  grid-column: span 2;
}

.advantages__image {
  display: block;
  width: 100%;
  object-fit: cover;
  background-color: #d6d6d6;
  border: none;

  @media (min-width: $tablet-width) {
    min-height: 256px;
  }
}

.advantages__sublist {
  text-align: left;
  padding: 31px 18px 44px 18px;

  @media (min-width: $tablet-width) {
    text-align: center;
    padding: 0 0 4px 0;
  }
}

.advantages__subitem:not(:last-child) {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.advantages__subitem-title {
  text-align: left;
  margin: 0;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    text-align: center;
    margin-bottom: 23px;
  }
}

.advantages__subitem--icon {
  position: relative;
  text-align: left;
  padding-left: 47px;

  @media (min-width: $tablet-width) {
    text-align: center;
    padding: 56px 33px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    padding: 66px 53px 64px 51px;
  }

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    top: -8px;
    left: 0;
    background-size: 100% 100%;

    @media (min-width: $tablet-width) {
      position: static;
      width: 78px;
      height: 78px;
    }
  }
}

.advantages__subitem--icon-house::before {
  background-image: url("../img/advantages.svg#house");
  margin: 0 auto 24px;

  @media (min-width: $tablet-width) {
    margin: 0 auto 24px;
  }
}

.advantages__subitem--icon-food::before {
  background-image: url("../img/advantages.svg#food");
  margin: 0 auto 24px;

  @media (min-width: $tablet-width) {
    margin: 0 auto 22px;
  }
}

.advantages__subitem--icon-souvenirs::before {
  background-image: url("../img/advantages.svg#souvenirs--big");
  margin: 0 auto 24px;

  @media (min-width: $tablet-width) {
    margin: 0 auto 14px;
    margin-top: 5px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 24px;
    margin-top: 2px;
  }
}

.advantages__subitem-text {
  br {
    @media (max-width: $mobile-width-only) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  .advantages__subitem-text--break-needed {
    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}

.advantages__item--decor {
  position: relative;

  &::after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: -0.5%;
    height: 27px;
    width: 101%;
    clip-path: polygon(0 100%, 0 0, 50% 100%, 100% 0%, 100% 100%);
  }
}
