@use "../global/variables" as *;

.advantages {
  text-align: center;
}

.advantages__header {
  text-align: center;
  padding: 32px 0;

  @media (min-width: $tablet-width) {
    br {
      display: none;
    }
    padding: 48px 124px 58px;
  }

  @media (min-width: $desktop-width) {
    br {
      display: none;
    }
    padding: 49px 358px 45px;
  }
}

.advantages__title {
  display: block;
  margin-bottom: 35px;
}


.advantages__item--theme--dark {
  background-color: $background-secondary;
  color: $color-secondary;
}

.advantages__item-title {
  color: inherit;
  order: -1;
}

.advantages__item-text {
  color: inherit;
}

.advantages__item--theme--light {
  background-color: #eeeeee;
}

.advantages__list,
.advantages__item--wide,
.advantages__item--theme--light,
.advantages__sublist {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 3;
  }
}

.advantages__list {
  counter-reset: order;
}


.advantages__item--order {
  display: flex;
  flex-direction: column;
  counter-increment: order;
}

.advantages__item--order .advantages__item-title::after {
  display: block;
  content: "— №" counter(order) " —";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-top: 11px;
}

.advantages__info {
  padding: 37px 18px;

  @media (min-width: $tablet-width) {
    padding: 52px 33px 31px 33px;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 50px 51px 50px;
  }
}

.advantages__info--line:not(:last-child) {
  border-bottom: 1px solid #d6d6d6;
  margin: 0 18px;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    margin: auto;
  }
}

.advantages__item--wide:nth-child(2n) .advantages__item--image {
  order: -1;
}

.advantages__item--image {
  grid-column: span 2;
}

.advantages__image {
  display: block;
  object-fit: cover;
  background-color: #d6d6d6;
}

.advantages__sublist {
  text-align: left;
  margin-bottom: 46px;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.advantages__subitem-title {
  text-align: left;
  margin: 0;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.advantages__info--icon {
  position: relative;
  text-align: left;
  padding: 23px 18px 25px 65px;

  @media (min-width: $tablet-width) {
    text-align: center;
    padding: 60px 33px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    padding: 69px 50px;
  }

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    top: 21px;
    left: 16px;
    background-size: 100% 100%;

    @media (min-width: $tablet-width) {
      position: static;
      width: 78px;
      height: 78px;
      margin: 0 auto 24px;
    }
  }
}

.advantages__info--icon-house::before {
  background-image: url("../../img/house.svg");
}

.advantages__info--icon-food::before {
  background-image: url("../../img//food.svg");
}

.advantages__info--icon-souvenirs::before {
  background-image: url("../../img/souvenirs.svg");
}

.advantages__subitem-text {
  br {
    @media (max-width: $mobile-width-only) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  .advantages__subitem-text--break-needed {
    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}
