@use "../global/variables" as *;

.gallery {
  text-align: center;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.gallery__header {
  text-align: center;
  margin: 0 auto;
  padding: 37px 0 37px;
  max-width: 280px;

  @media (min-width: $tablet-width) {
    padding: 67px 0 81px;
    margin: 0 auto;
    max-width: 430px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0 89px;
  }
}

.gallery__heading {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
  }
}

.gallery__title {
  font: 700 14px/21px $font-primary;
  color: $color-primary-dark;
  text-transform: uppercase;
  margin-bottom: 1px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;

    &--space {
      margin-bottom: 1px;
    }
  }

  @media (min-width: $desktop-width) {
    color: $color-secondary;

    &--space {
      margin-bottom: 3px;
    }
  }
}

.gallery__author {
  margin-bottom: 6px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.gallery__text {
  font: 400 14px/21px $font-primary;
  color: $color-primary;
}

.gallery__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: 322px) {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}

.gallery__item--wide {
  grid-column: 1/-1;
}

.gallery__item {
  position: relative;
  padding-top: 24px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }

  &::before {
    position: absolute;
    content: "";
    height: 1px;
    width: calc(100% + 44px);
    background-color: #e5e5e5;
    top: 0;
    left: -22px;

    @media (min-width: 600px) {
      display: none;
    }
  }
}

.gallery__item:last-child {
  &::after {
    position: absolute;
    content: "";
    height: 1px;
    width: calc(100% + 44px);
    background-color: #e5e5e5;
    bottom: 0;
    left: -22px;

    @media (min-width: 600px) {
      display: none;
    }
  }
}

.gallery__info {
  text-align: left;
  padding: 15px 0 25px;

  @media (min-width: $tablet-width) {
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 20px 15px 20px;

    &--tablet-dark {
      background-color: #eaeaea;
    }
  }

  @media (min-width: $desktop-width) {
    background-color: rgba(0, 0, 0, 0.3);
    color: $color-secondary;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 18px 20px 17px 25px;

    &--wide {
      padding: 23px 20px 16px 20px;
    }
  }
}

.gallery__link {
  margin: 0;
  padding: 0;
}

.gallery__description {
  display: flex;
  flex-direction: column;
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    color: $color-secondary;
  }
}

.gallery__likes-count {
  position: relative;
  display: flex;
  align-items: center;
  font: 700 14px/21px $font-primary;
  border: 0;
  background: 0;
  padding: 0 0 0 37px;

  @media (min-width: $tablet-width) {
    padding: 0 0 0 32px;
  }

  @media (min-width: $desktop-width) {
    color: $color-secondary;
  }
}

.gallery__likes-count-icon {
  position: absolute;
  width: 23px;
  height: 21px;
  left: 0;
  bottom: 5px;
  fill: $color-primary-dark;
  opacity: 0.3;

  @media (min-width: $desktop-width) {
    fill: $color-secondary;
    opacity: 1;
    bottom: 2px;
  }
}

.gallery__image {
  display: block;
  width: 100%;
  object-fit: cover;
  border: none;
  background-color: $color-primary;

  @media (max-width: 321px) {
    max-width: 280px;
  }
}

