@use "../global/variables.scss" as *;

.heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: $color-primary-dark;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.heading--big {
  font-size: 21px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}
