@use "../global/variables" as *;

.hotels {
  text-align: center;
  padding: 38px 18px 49px 18px;

  @media (min-width: $tablet-width) {
    padding: 60px 155px 55px 155px;
  }

  @media (min-width: $desktop-width) {
    padding: 63px 371px 66px 371px;
  }
}

.hotels__title {
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 31px;
  }
}

.hotels__text {
  margin: 0 auto;
  margin-bottom: 33px;
  max-width: 265px;

  @media (min-width: $tablet-width) {
    max-width: 440px;
    margin-bottom: 44px;
  }

  br {
    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }
}

.hotels__button {
  max-width: max-content;
  margin: 0 auto;
  padding: 16px 49px;

  @media (min-width: $tablet-width) {
    min-width: 458px;
  }
}
