@use "../global/variables" as *;

.intro-alternative {
  padding: 52px 0 67px;

  @media (min-width: $tablet-width) {
    padding: 95px 0 117px;
  }

  @media (min-width: $desktop-width) {
    padding: 101px 0 120px;
  }
}
