@use "../global/variables" as *;

.main-footer {
  display: grid;
  gap: 30px;
  text-align: center;
  padding-top: 41px;
  padding-bottom: 46px;

  &--gallery {
    padding-top: 35px;
    padding-bottom: 38px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 31px;
    padding-bottom: 36px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.main-footer__text {
  font: 700 21px/26px $font-primary;
  margin: 0;
}

.main-footer__copyrights-link {
  position: relative;
  font: 400 14px/21px $font-primary;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-primary-dark;
  padding-right: 40px;

  &:hover {
    color: $background-secondary;
  }

  &:active {
    color: #b3b3b3;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.3;
  }
}

.main-footer__copyrights-svg {
  position: absolute;
  width: 28px;
  height: 35px;
  top: -9px;
  right: 0;
}


.main-footer__social {
  margin: 0 auto;
  margin-bottom: 8px;

  &--gallery {
    margin-bottom: 7px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 5px;
  }
}
