@use "../global/variables" as *;

.main-navigation {
  position: relative;
  z-index: 1;
  min-height: 56px;
}

.main-navigation__logo {
  position: absolute;
  display: block;
  padding: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.main-navigation__logo-image {
  display: block;
}

.main-navigation__list {
  position: absolute;
  list-style-type: none;
  padding: 0;
  margin: 0;
  left: 0;
  right: 0;
  z-index: 1;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    &::after {
      content: "";
      grid-column: 3/4;
      grid-row: 1/3;
    }
  }
}

.main-navigation__list--opened {
  display: grid;
}

.main-navigation__item {
  font: 700 18px/26px $font-primary;
  color: $color-secondary;
}


.main-navigation__link {
  display: flex;
  justify-content: center;
  padding: 17px 50px 12px;
  font: inherit;
  color: inherit;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $background-secondary;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);

  @media (min-width: $tablet-width) {
    font: 700 14px/21px $font-primary;
    padding: 18px 10px 17px;
    background: none;
    box-shadow: none;
    border-bottom: none;
    color: $color-primary-dark;

    &[aria-current] {
      pointer-events: none;
      color: #766357;
    }
  }
}

.main-navigation__button {
  position: absolute;
  display: block;
  align-items: center;
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  width: 23px;
  height: 22px;
  z-index: 5;
  top: 17px;
  right: 20px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-navigation--closed .main-navigation__button::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 4px;
  left: 0;
  top: 0;
  background-color: $background-secondary;
  box-shadow: 0 9px 0 0 $background-secondary, 0 18px 0 0 $background-secondary;
}

.main-navigation--opened .main-navigation__button {
  width: 28px;

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 28px;
    height: 4px;
    top: 9px;
    left: 0;
    background-color: $color-secondary;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: $mobile-width-only) {
  .main-navigation--closed .main-navigation__item {
    display: none;
  }
}

.main-navigation--no-js {
  .main-navigation__button {
    display: none;
  }

  .main-navigation__list {
    position: static;
  }

  .main-navigation__item {
    display: block;
  }

  .main-navigation__logo {
    display: flex;
    position: static;
    transform: none;
    margin-right: auto;

    @media (min-width: $tablet-width) {
      position: absolute;
      display: block;
      padding: 0;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .main-navigation__logo-image {
    display: block;
    margin: 0 auto;
  }
}
