@use "../global/variables.scss" as *;

.subheading {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: $color-primary-dark;
  margin-top: 0;
  padding: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

