@use "../global/variables" as *;

.video-promotion__header {
  text-align: center;
  margin: 0 auto;
  max-width: 270px;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    max-width: 450px;
    margin-bottom: 90px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 88px;
  }
}

.video-promotion__title {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
  }
}

.video-promotion {
  text-align: center;
  padding: 17px 20px 0 20px;

  @media (min-width: $tablet-width) {
    padding: 57px 60px 40px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 201px 84px 200px;
  }
}

.video-promotion__image {
  display: block;
  width: 100%;
  object-fit: cover;
  border: none;
  background-color: $color-primary;

  @media (min-width: $tablet-width) {
    max-height: 500px;
  }
}

.video-promotion__video {
  position: relative;
}

.video-promotion__button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 48px;
  height: 54px;
  border: none;
  background: $background-primary;
  transform: translate(-50%, -50%);
  opacity: 0.7;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}
