$font-primary: "PT Sans", "arial", sans-serif;
$color-primary: #333333;
$color-primary-dark: #000000;
$color-secondary: #ffffff;

$background-primary: #ffffff;
$background-secondary: #81b3d2;
$background-secondary-hover: #669ec0;
$background-secondary-active: #5496bd;


$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$tablet-width-only: 1199px;
$desktop-width: 1200px;

$icon-background: linear-gradient(to left, #e6e6e6 58px, transparent 0);

